Debug/
settings/
*.dep
*.exe
*.csv
*.txt
*.ini
*.xlsx
*.bmp
*.txt
*.ini
*.scvd
*.o
*.ewt
*.log
	
Debug/
settings/
Obj/
List/
DebugConfig/
RTE/
OUT/
*.dep
*.exe
*.ini
*.txt
*.scvd
*.o
*.ewt
*.log
*.xxl
*.neo
*.bin
*.elf
*.list
*.map
*.hex
*.d
*.crf
*.iex
*.lst